{"openapi":"3.0.1","info":{"title":"SureChEMBL API","description":"SureChEMBL API documentation","license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"externalDocs":{"description":"SureChEMBL Wiki Documentation","url":"https://chembl.gitbook.io/surechembl"},"servers":[{"url":"https://www.surechembl.org/api","description":"Generated server url"}],"paths":{"/search/structure":{"post":{"tags":["search-controller"],"operationId":"performAStructureSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StructureSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/search/documents_for_structures":{"post":{"tags":["search-controller"],"operationId":"performADocumentsForStructuresSearch","parameters":[{"name":"chemicalIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"itemsPerPage","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/search/content":{"post":{"tags":["search-controller"],"operationId":"performAContentSearch","parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"itemsPerPage","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/export/searchResults":{"post":{"tags":["export-controller"],"operationId":"exportDocumentChemistry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchExportRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/export/document-chemistry":{"post":{"tags":["export-controller"],"operationId":"exportDocumentChemistry_1","parameters":[{"name":"docID","in":"query","required":true,"schema":{"type":"string"}},{"name":"output_type","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemical_metadata","in":"query","required":false,"schema":{"type":"string"}},{"name":"text_annotations","in":"query","required":false,"schema":{"type":"string"}},{"name":"attachment_annotations","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemical_filters","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/document/identifier/normalized":{"post":{"tags":["document-controller"],"operationId":"postNormalizedDocIds","parameters":[{"name":"doc_ids","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/document/batch":{"post":{"tags":["document-controller"],"operationId":"performBatchDocumentRetrieval","parameters":[{"name":"doc_ids","in":"query","required":true,"schema":{"type":"string"}},{"name":"annotated","in":"query","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"string"}},{"name":"search_hash","in":"query","required":false,"schema":{"type":"string"}},{"name":"highlight_query","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/chemical/smiles/":{"post":{"tags":["chemical-controller"],"operationId":"postChemicalDataForSmiles","parameters":[{"name":"smiles","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/chemical/id":{"post":{"tags":["chemical-controller"],"operationId":"postChemicalMetadataFromChemicalId","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/status/search":{"get":{"tags":["status-controller"],"operationId":"renderPngImageFromChemicalData","responses":{"200":{"description":"OK"}}}},"/service/chemical/image":{"get":{"tags":["service-controller"],"operationId":"renderPngImageFromChemicalData_1","parameters":[{"name":"structure","in":"query","required":true,"schema":{"type":"string"}},{"name":"highlight_structure","in":"query","required":false,"schema":{"type":"string"}},{"name":"width","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"height","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","format":"byte"}}}}}}},"/search/{hash}":{"get":{"tags":["search-controller"],"operationId":"retrieveSearchMetadata","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/search/{hash}/status":{"get":{"tags":["search-controller"],"operationId":"retrieveSearchStatus","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/search/{hash}/results":{"get":{"tags":["search-controller"],"operationId":"liveUpdateASearch","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"start_on","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"max_results","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/export/{hash}/chemistry":{"get":{"tags":["export-controller"],"operationId":"exportChemistryFromResultHash","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","required":true,"schema":{"type":"string"}},{"name":"output_type","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemical_filters","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/export/chemistry":{"get":{"tags":["export-controller"],"operationId":"exportChemistry","parameters":[{"name":"chemIDs","in":"query","required":true,"schema":{"type":"string"}},{"name":"kind","in":"query","required":true,"schema":{"type":"string"}},{"name":"output_type","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemical_filters","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/document/{doc_id}/family/members":{"get":{"tags":["document-controller"],"operationId":"getFamilyMembersForADocument","parameters":[{"name":"doc_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter_by","in":"query","required":false,"schema":{"type":"string"}},{"name":"custom_filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"sort_by","in":"query","required":false,"schema":{"type":"string"}},{"name":"custom_sorting","in":"query","required":false,"schema":{"type":"string"}},{"name":"output","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemistry","in":"query","required":false,"schema":{"type":"string"}},{"name":"chemistry_filter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/document/{doc_id}/contents":{"get":{"tags":["document-controller"],"operationId":"retrieveASingleDocument","parameters":[{"name":"doc_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"annotated","in":"query","required":false,"schema":{"type":"string"}},{"name":"fields","in":"query","required":false,"schema":{"type":"string"}},{"name":"search_hash","in":"query","required":false,"schema":{"type":"string"}},{"name":"highlight_query","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/document/{doc_ids}/family/id":{"get":{"tags":["document-controller"],"operationId":"getFamilyIdForADocument","parameters":[{"name":"doc_ids","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/document/identifier/normalized/{docId}":{"get":{"tags":["document-controller"],"operationId":"getNormalizedDocIds","parameters":[{"name":"docId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/chemical/smiles/{smiles}/":{"get":{"tags":["chemical-controller"],"operationId":"getChemicalDataForSmiles","parameters":[{"name":"smiles","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/chemical/name/{name}":{"get":{"tags":["chemical-controller"],"operationId":"getChemicalMetadataFromChemicalName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}},"/chemical/id/{id}":{"get":{"tags":["chemical-controller"],"operationId":"getChemicalMetadataFromChemicalId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SureChEmblApiResponse"}}}}}}}},"components":{"schemas":{"StructureSearchRequest":{"type":"object","properties":{"struct":{"type":"string"},"structSearchType":{"type":"string"},"maxResults":{"type":"integer","format":"int32"},"saveSearch":{"type":"string"},"query":{"type":"string"},"options":{"type":"string"},"chemTermFilter":{"type":"string"},"childOf":{"type":"string"},"searchAppendix":{"type":"string"},"docSectionFilter":{"type":"string"}}},"SureChEmblApiResponse":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"object"},"timestamp":{"type":"string"},"errorMessage":{"type":"string"}}},"SearchExportRequest":{"type":"object","properties":{"query":{"type":"string"}}}}}}